DATA_KV=
IMG_PROXY=
OPEN_TRANSLATE=true
USE_MODEL_PLATFORM=OPEN
GEMINI_API_KEY=
GEMINI_API_URL=
DEFAULT_GEMINI_MODEL=gemini-2.5-flash-preview-05-20
OPENAI_API_KEY=
OPENAI_API_URL=https://openrouter.ai/api/v1
DEFAULT_OPEN_MODEL=google/gemma-4-26b-a4b-it:free
OPENAI_MAX_ATTEMPTS=5
FOLO_COOKIE_KV_KEY=folo_auth_cookie
FOLO_DATA_API=https://api.follow.is/entries
FOLO_FILTER_DAYS=1
NEWS_AGGREGATOR_LIST_ID=
NEWS_AGGREGATOR_FETCH_PAGES=1
HGPAPERS_LIST_ID=
HGPAPERS_FETCH_PAGES=1
TWITTER_LIST_ID=
TWITTER_FETCH_PAGES=1
REDDIT_LIST_ID=
REDDIT_FETCH_PAGES=1
PROJECTS_API_URL=https://rss.xinghaihub.com/github/trending/daily/any?format=json
GITHUB_TOKEN=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_BRANCH=main
LOGIN_USERNAME=root
LOGIN_PASSWORD=
DAILY_TITLE=AI洞察日报
DAILY_TITLE_MIN= `AI 日报`
PODCAST_TITLE=来生小酒馆
PODCAST_BEGIN=嘿，亲爱的V，欢迎收听新一期的来生情报站，我是你们的老朋友，何夕2077
PODCAST_END=今天的情报就到这里，注意隐蔽，赶紧撤离
BOOK_LINK=
INSERT_FOOT=false
INSERT_AD=false
INSERT_APP_URL=<h3>[查看完整版AI日报↗️ https://ai.hubtoday.app/](https://ai.hubtoday.app/)</h3>
